.gpt3__brand-names{ 
     display: flex ; 
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}
.gpt3__brand-names div{ 
     flex : 1 ; 
     max-width: 150px;
     min-width: 120px;
     margin : 1rem ;

     display: flex;
     justify-content: center;
     align-items: center;
}
.gpt3__brand-names img{
     width: 130.83px;
     height: auto;
}
