.passGuard__info-feature_feature{ 
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex : 1 ; 
   min-width: 220px;
   max-width: 300px;
   flex-direction: column;
   margin: 1rem;
}
.passGuard__info-feature_feature-title{ 
   flex: 1;
   max-width: 180px;
   margin-right: 2rem;

}
.passGuard__info-feature_feature-title h1{ 
  font-family: var(--font-family);
  font-weight: 700;
  font-size : 21px ; 
  line-height: 24px;
  letter-spacing: -0.04em;
  color: white;

}
.passGuard__info-feature_feature-title div {
  width: 50px;
  height: 5px;
  background: linear-gradient(90deg, #f59bff 0%, #b87aff 50%, #3366ff 100%);
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  border-radius: 1px;
  margin-bottom: 0.5rem;
}
.passGuard__info-feature_feature-text{
   /* flex : 2 ; 
   max-width: 390px;
   display: flex; */
   margin-top: 0.5rem;
   width: 100%;

}
.passGuard__info-feature_feature-text p {
   
   font-size: 14px;
   line-height: 24px;
   font-family: var(--font-family);
   font-weight: 500;
   color :var(--color-text);
   text-align: left;
}
