.passGuard__features{ 
   background:var(--color-black);
   width: 100%;
   display: flex;
   margin : 0 auto ; 
   align-items: flex-start;
   justify-content: space-between;
   column-gap: 4rem ; 

}
/* .passGuard__info-feature_feature-text{ 
  margin-top: 0.5rem;
   width: 100%;
} */
/* .passGuard__info-feature_feature-text p { 
  
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--color-text);
  text-align: left;
} */

.passGuard__features-heading p{ 
  color: var(--color-subtext);
  font-size: 18px;
  line-height: 38px;
  font-weight: 400;
  font-family: var(--font-family);
  margin-top : 3rem ; 
}
.passGuard__features-heading{ 
   flex : 1 ; 
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction:column;
   text-align: left;
   margin-left: 5rem ;
   max-width: 1000px;

   
}

.passGuard__features-heading h1{ 
  font-family: var(--font-family);
  font-weight: 800;
  font-size : 45px; 
  line-height: 46px;
  max-width: 600px;

}
.passGuard__features-container{ 
   flex : 2 ; 
   display: flex;
   flex-direction: column;
   flex-wrap : wrap ; 
   gap : 1rem ; 
   max-width: 420px;
   
}

/* .passGuard__features-container p {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} */

.passGuard__features-heading img{ 
   flex: 1.5;
   display: flex;
   justify-content: center;
   width: 100%;


}

@media screen and (max-width : 999px ){ 
    .passGuard__features{ 
        flex-direction: column;
        
    }
    .passGuard__features-heading h1{ 
       margin : 0  0 5rem 0 ; 
       font-size : 35px ; 
       
       
    }
    .passGuard__features-heading img{
        width: 900px;
    } 
    .passGuard__features-container{
       margin-left:5rem ;
       flex : 1 ; 
       display: flex;
       flex-direction: row;
       flex-wrap : wrap ; 
       align-items: start;
       justify-content: space-between;
       gap : 2rem ; 
       max-width: 100%;  
    }
    /* imp feature  */
    .passGuard__features-container > * {
       flex : 1 1 calc(50% - 2rem);
    }
   
}

@media screen and (max-width : 559px ){
   .passGuard__features{ 
      flex : 1 ; 
      flex-direction: column;
        
    }
     .passGuard__features-heading h1{ 
       font-size : 23px ; 
       line-height: 40px;
       max-width: 100%;
       margin-right: 8.5rem;
    }

    .passGuard__features-heading img{
        width: 480px;
    } 
 


}

