.passGuard__blog{ 
    margin-left: 5rem;
    margin-right: 5rem ; 
    display : flex ; 
    flex-direction : column ; 
}

.passGuard__blog-heading{ 
   width : 100%; 
   text-align : left ; 

   margin-bottom : 5rem ;
}

.passGuard__blog-heading h1{ 
     font-family : var(--font-family);
     font-weight : 800; 
     font-size : 62px ; 
     line-height : 75px ; 
     letter-spacing : -0.04em ; 

}

.passGuard__blog-container { 
    display : flex ; 
    flex-direction : row ; 

}

.passGuard__blog-container_groupA{ 
   flex : 0.75; 
   margin-right : 2rem ; 

}

.passGuard__blog-container_groupA .passGuard__blog-container_article-image img {
  max-width: 100%;
  height: 100%;
}

.passGuard__blog-container_groupB .passGuard__blog-container_article-image img {
     max-width: 100%;
     height: 100%; 
}

.passGuard__blog-container_groupB{ 
  flex : 1 ; 
  display : grid ; 
  grid-template-columns: repeat(2 ,1fr);
  grid-gap : 2rem ; 
}

@media screen and (max-width : 999px){ 
    .passGuard__blog-container{ 
        flex-direction : column-reverse ; 

    }
    .passGuard__blog-container_groupA{ 
       margin : 2rem 0 ; 

    }

    .passGuard__blog-container_groupA .passGuard__blog-container_article{ 
        width : 50%;
    }

    .passGuard__blog-container_groupA .passGuard__blog-container_article-image{ 
        height : 250px ; 
    }

}

@media screen and (max-width : 590px){
    .passGuard__blog-container_groupB{ 
        grid-template-columns: repeat(1 , 1fr);
    }

    .passGuard__blog-container_groupA .passGuard__blog-container_article{
           width : 100%; 
         }

    .passGuard__blog-heading h1 { 
       font-size : 46px ; 
       line-height : 52px ; 
    }
}