.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  position : sticky;
  top : 0 ; 
  z-index: 999;
  background-color: var(--color-bg);

}

.gpt3__navbar-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap : 2rem ; 
}

.gpt3__navbar-links_logo img {
  width: 70px;
  height: auto;
  cursor : pointer; 
}

.gpt3__navbar-links_logo  {
  margin-left : -40px; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
   margin-right: 3rem; 
   gap: 1px; 
}

.brand-name {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  color: white; 

}

.gpt3__navbar-links_container {
  display: flex;
  flex-direction: row;
}



.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin: 0 1rem;
  cursor: pointer;
}

.gpt3__navbar-sign {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
  padding: 0.5rem 1rem;
  background-color: #ff4820;
  color: #fff;
  font-family: var(--font-family);
  border: 0;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  cursor: pointer;

}

.gpt3__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.gpt3__navbar-menu svg {
  cursor: pointer;
}

.gpt3__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 50px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.gpt3__navbar-menu_container p {
  margin: 1rem 0rem;

}

/* for tablet  */
@media screen and (max-width : 1050px) {
  .gpt3__navbar-links_container {
    display: none;
  }

  .gpt3__navbar-menu {
    display: flex;
  }
  .gpt3__navbar-menu_container-links-sign{ 
     display: none;
  }
  .gpt3__navbar-sign { 
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-left: 150px
  }

}

/* for ipad's */

@media screen and (max-width : 700px) {
  .gpt3__navbar {
    padding: 2rem 3rem;
  }
  .gpt3__navbar-menu_container-links-sign{ 
     display: none;
  }
  .gpt3__navbar-sign { 
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-left: 150px
  }
}

/* for mobiles  */
@media screen and (max-width : 550px) {
  .gpt3__navbar {
    padding: 2rem;
    margin-left  :0.5rem;
  }

  .gpt3__navbar-sign {
    display: none;
  }

  .gpt3__navbar-menu_container {
    top: 20px;
  }
  .gpt3__navbar-menu_container-links-sign{ 
     display : block; 
  }

}