.passGuard__info {
    /* background : var(--color-black); */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-footer);
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin : 5rem ; 
}

.passGuard__info-feature{ 
     margin : 0 ;
}
.passGuard__info-feature .passGuard__info-feature_feature {
    flex-direction: row;    
          /* put title + text in one row */
    flex-wrap : wrap ; 
    align-items: flex-start;
    max-width: 100%;
    min-width: 0;
    margin : 0 0 2rem 0 ; 
}

.passGuard__info-feature .passGuard__info-feature_feature-title {
    max-width: 180px;             /* small column on the left */
    margin-right: 2rem;
}

.passGuard__info-feature .passGuard__info-feature_feature-text {
    flex: 1;   
    max-width: auto;                  
    margin-top: 0;                
}
.passGuard__info-feature .passGuard__info-containers__feature{ 
      margin : 0 ; 
}

.passGuard__info-feature .passGuard__info-Heading{ 
     max-width: 700px;
}

.passGuard__info-Heading{ 
     display: flex; 
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin : 4rem 0 2rem 0 ; 

}

.passGuard__info-Heading h1{ 
     font-size: 40px ; 
     font-weight: 800;
     font-family: var(--font-family);
     max-width: 510px;
     line-height: 45px;
}

.passGuard__info-Heading p{ 
     font-size: 16px ; 
     font-weight: 500;
     font-family: var(--font-family);
     line-height: 30px;
     /* color: #FF8471; */
     color: var(--color-subtext);
     cursor : pointer ; 
}

.passGuard__info-containers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem ;
    gap: 2rem ;
    justify-content: space-between;
}


.passGuard__info-containers .passGuard__info-containers_feature-text {
    margin-top: 0.5rem;
}



@media screen and (max-width: 900px) {
    .passGuard__info-Heading {
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .passGuard__info-Heading p {
        margin-top: 1rem;
        font-size: 1rem ;

    }
}

@media screen and (max-width: 550px) {
    .passGuard__info{ 
         flex-direction: column;
         align-items: center; 
         text-align: center;
         width: 100%;
         margin-left: -0.15rem;
    }
   
    .passGuard__info-containers{ 
         justify-content: center;
         min-width: 100%;
        
         /* padding : 5rem ; */
    }
    /* Customizing feature component as per needs */
    .passGuard__info-feature .passGuard__info-containers__feature {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Customizing feature component as per needs */
    .passGuard__info-feature .passGuard__info-containers_feature-text {
        margin-top: 0.5rem;
    }

    .passGuard__info-Heading h1 {
        align-items: center;
        text-align: center;
        font-size: 28px;
        line-height: 40px;
       
    }
    .passGuard__info-Heading{ 
        align-items: center;
         text-align: center;
    }
    .passGuard__info-feature .passGuard__info-feature_feature{ 
         flex-direction: column;
         align-items: flex-start;
    }
    .passGuard__info-feature .passGuard__info-feature_feature-text{ 
         max-width: 100%;
         margin-top: 0.6rem ; 
    }
    
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .passGuard__info-containers  .passGuard__info-containers__feature {
        min-width: 100%;

    }
    .passGuard__info-containers{ 
         width: 100%;

    }
}