
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{ 
   --font-family : "Roboto", sans-serif;
   
   --gradient-text : radial-gradient(circle at 4% 25%, rgba(248, 103, 255, 0.79) 25%, rgba(11, 11, 255, 1) 74%);

   /* --gradient-bar : linear-gradient(70deg, rgba(230, 67, 230, 1) 1.85%, rgba(0, 0, 179, 1) 100%); */
   --gradient-bar : radial-gradient(circle at 4% 25%, rgba(248, 103, 255, 0.79) 25%, rgba(11, 11, 255, 1) 74%);
  --color-bg : #040C18 ;
  --color-black : #000000 ; 
  --color-footer : #031B34 ; 
  --color-blog : #042c54; 
  --color-text : #81AFDD; 
  --color-subtext : #FF8A71;
} 






