.gpt3__header{ 
   display: flex;
}

.gpt3__header-content{ 
    margin-left: 5rem;
    display: flex;
    flex : 1 ; 
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    margin-right: 5rem;
}

.gpt3__header-content h1{ 
   font-family: var(--font-family);
   font-weight: 600;
   font-size: 55px;
   line-height: 58px;
   letter-spacing: -0.04em;
}
.gpt3__header-content p{ 
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.gpt3__header-content__input{ 
   width: 100%;
   margin : 2rem 0 1rem; 
   display: flex;
   gap: 1rem;
}


.gradient__text{ 
 background: linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(0, 0, 255, 1) 100%);   
  -webkit-background-clip: text;       
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-weight: 700;
}

.gpt3__header-content__people{ 
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -2.5rem;
 
}
.gpt3__header-content__people p { 
    margin: 0.3rem 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 38px;
}
.gpt3__header-content__people img {
  width: 125.79px; /* <--- YOU CAN CHANGE THIS VALUE! */
  height: auto; /* This keeps the image from stretching */
}

.gpt3__header-image{ 
     flex : 1 ;
     display: flex;
     justify-content: center;
     align-items: center;

}

.gpt3__header-image img{ 
   width : 100% ; 
   height: 100% ;
   margin-top: -1rem;  /*You can change here later */
}

@media screen and  (max-width : 1050px){ 
    .gpt3__header{ 
      display: flex;
       flex-direction:column ;
       justify-content: center;
       align-items: center;
       
    }

    .gpt3__header-content{ 
       margin : 0 0 3rem ;
       margin-left: 5rem;
    }
}

@media screen and  (max-width : 650px){ 
    .gpt3__header h1{ 
       font-size: 48px ;
       line-height: 55px;
    }
    .gpt3__header p{ 
       font-size: 16px ;
       line-height: 22px;
    }
    .gpt3__header-content__people{ 
      flex-direction: column;
    }
    .gpt3__header-content__people p { 
       margin : 0 ; 
    }
    .email-glow input
   {      
          font-size : 15px ; 
          line-height: 24px;
    }
}


@media screen and  (max-width : 490px){ 
     .gpt3__header h1{ 
         font-size: 42px;
         line-height: 48px;
         
     }
     .gpt3__header p { 
        font-size : 14px; 
        line-height: 20px;
     }
     .gpt3__header-content{ 
        margin-left: 0rem;
     }
     .gpt3__header-content__input input{ 
        font-size : 12px;
        line-height: 16px;
        flex-direction: column;
       
     }
     .gpt3__header-content__input,
     .container::before
     { 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size : 12px;
      line-height: 16px;
       
     }
}